<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CNGBokking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JUserRegister</display-name>
    <servlet-name>JUserRegister</servlet-name>
    <servlet-class>CngBooking.JUserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JUserRegister</servlet-name>
    <url-pattern>/JUserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JUserLogin</display-name>
    <servlet-name>JUserLogin</servlet-name>
    <servlet-class>CngBooking.JUserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JUserLogin</servlet-name>
    <url-pattern>/JUserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JCngReg</display-name>
    <servlet-name>JCngReg</servlet-name>
    <servlet-class>CngBooking.JCngReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JCngReg</servlet-name>
    <url-pattern>/JCngReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JCngLogin</display-name>
    <servlet-name>JCngLogin</servlet-name>
    <servlet-class>CngBooking.JCngLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JCngLogin</servlet-name>
    <url-pattern>/JCngLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JAdminLogin</display-name>
    <servlet-name>JAdminLogin</servlet-name>
    <servlet-class>CngBooking.JAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JAdminLogin</servlet-name>
    <url-pattern>/JAdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UBook</display-name>
    <servlet-name>UBook</servlet-name>
    <servlet-class>CngBooking.UBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UBook</servlet-name>
    <url-pattern>/UBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JCngUpdate</display-name>
    <servlet-name>JCngUpdate</servlet-name>
    <servlet-class>CngBooking.JCngUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JCngUpdate</servlet-name>
    <url-pattern>/JCngUpdate</url-pattern>
  </servlet-mapping>
</web-app>